html {
    height: 100%;
}

body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    color: var(--primary-color);
    font-family: var(--font-family-base);
    background: var(--primary-white-color);
}

body * {
    box-sizing: border-box;
    appearance: none;
}

img {
    max-width: var(--image-max-width);
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0 15px;

    @include respond-to("sm") {
        padding: 0 20px;
    }

    @include respond-to("xlg") {
        padding: 0 100px;
    }
}

.wrap {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}
