:root {
  --primary-white-color: #fff;
  --primary-dark-color: #000;
  --primary-color: #E6C744;
  --secondary-color: #C2C8DA;
  --thirdary-color: #242323;
  --font-family-base: 'Poppins', sans-serif;
  --image-max-width: 100%;

  // Footer
  --footer-font-family: 'Roboto', sans-serif;
  --footer-logo-font: var(--font-family-base);
  --footer-description-color: #8E8E8E;
  --footer-nav-link-color: #7A7A7A;

  // Brands 
  --brands-bg-color: #EBD96B;

  // Subscribe 
  --subscribe-bg-color: #E5C643;
  --subscribe-form-input-color: #767676;
  --subscribe-input-border-color-invalid: #ff3232;
  --subscribe-form-message: #242323;

  // Arrivals 
  --arrivals-item-title-color: #191919;
  --arrivals-item-description-color: #7F7F7F;

  // Promo 
  --promo-description-color: #7F7F7F;

  // Payday 
  --payday-text-color: #231300;
  --payday-bg-color: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);

  // Welcome
  --welcome-bg-color: #F4F6F5;
  --welcome-title-bg-color: #EBD96B;
  --welcome-description-color: #191818;
}