.payday {
    position: relative;
    background: var(--payday-bg-color);

    @include respond-to("md") {
        display: flex;
        justify-content: flex-end;
        background: url('/src/assets/images/payday-bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &--wrap {
        @include respond-to("md") {
            display: flex;
            justify-content: flex-end;
        }
    }

    &-content {
        padding: 30px 0;

        @include respond-to("md") {
            padding: 45px 0 60px;
        }

        @include respond-to("lg") {
            margin-right: 1%;
            padding: 70px 0 80px;
        }

        @include respond-to("xxlg") {
            margin-right: 5%;
            padding: 128px 0 155px;
        }
    }

    &-title {
        margin-bottom: 20px;
        color: var(--primary-dark-color);
        font-weight: 900;
        font-size: 36px;
        line-height: 1.23;

        @include respond-to("md") {
            font-size: 50px;
        } 

        @include respond-to("lg") {
            margin-bottom: 33px;
            font-size: 60px;
        }  

        @include respond-to("xlg") {
            font-size: 80px;
        }

        @include respond-to("xxlg") {
            font-size: 111.608px;
        }

        span {
            position: relative;
            z-index: 1;

            &::before {
                @include respond-to("xlg") {
                    content: '';
                }

                position: absolute;
                inset: 8px -27px 19px -22px;
                z-index: -1;
                background: var(--primary-white-color);
                transform: rotate(-2deg);
            }
        }
    }

    &-description {
        margin-bottom: 20px;

        @include respond-to("md") {
            margin-bottom: 29px;
        }

        p {
            font-weight: 500;
            letter-spacing: -0.02em;
        }
    }

    &-date {
        margin-bottom: 20px;

        @include respond-to("md") {
            margin-bottom: 33px;
        }

        p {
            letter-spacing: -0.02em;
        }

        b {
            letter-spacing: 0.03em; 
        }
    }

    p {
        color: var(--payday-text-color);
        font-size: 18px;
        line-height: 1.45;

        @include respond-to("md") {
            font-size: 24px;
        } 

        @include respond-to("lg") {
            font-size: 28px;
        }  

        @include respond-to("xxlg") {
            font-size: 36px;
        }  
    }
}