.subscribe {
    padding: 3% 0;
    text-align: center;
    background: var(--subscribe-bg-color);

    @include respond-to("lg") {
        padding: 50px 0;
    }

    @include respond-to("xlg") {
        padding: 141px 0 156px;
    }

    &-title {
        margin: 0 auto 20px;
        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.27;
        letter-spacing: 0.99px;

        @include respond-to("md") {
            font-size: 32px;
        }

        @include respond-to("lg") {
            max-width: 1010px;
            margin: 0 auto 24px;
            font-size: 43px;
        }

        @include respond-to("xxlg") {
            font-size: 55px;
        }
    }

    &-description {
        margin: 0 auto 25px;
        color: var(--primary-white-color);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: 0.99px;

        @include respond-to("md") {
            font-size: 22px;
        }

        @include respond-to("lg") {
            max-width: 1010px;
            margin: 0 auto 49px;
            font-size: 26px;
        }

        @include respond-to("lg") {
            font-size: 32px;
        }
    }

    .form {
        position: relative;
        max-width: 574px;
        margin: 0 auto;

        &-input {
            flex: 1 1 auto;
            width: 100%;
            min-width: 0;
            max-width: 100%;
            height: 50px;
            margin-bottom: 10px;
            padding: 15px;
            color: var(--subscribe-form-input-color);
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.99px;
            background-color: var(--primary-white-color);
            border: none;
            border-radius: 10px;

            @include respond-to("lg") {
                height: 87px;
                margin-bottom: 0;
                padding: 27px 180px 27px 27px;
                font-size: 24px;
            }

            &:focus {
                outline: none;
            }

            &--invalid {
                border-color: var(--subscribe-input-border-color-invalid);
            }
        }

        &-submit {
            width: 100%;
            margin-bottom: 10px;
            padding: 15px 20px;
            color: var(--primary-white-color);
            font-weight: 500;
            font-size: 18px;
            font-style: normal;
            line-height: 1.06; 
            letter-spacing: 0.99px;
            text-transform: capitalize;
            background: var(--primary-dark-color);
            border-radius: 8px;

            @include respond-to("lg") {
                position: absolute;
                top: 11px;
                right: 10px;
                width: auto;
                max-width: 161px;
                margin-bottom: 0;
                padding: 16px 36px;
                font-size: 33px;
            }
        }

        &-message {
            position: absolute;
            bottom: -24px;
            display: block;
            height: 24px;
            margin-bottom: 5px;
            color: var(--subscribe-form-message);
            text-align: left;

            @include respond-to("lg") {
                margin-bottom: 0;
            }
        }
    }
}
